# Introduction to Python programming - Part I

This notebook has been inspired by lectures available at [http://github.com/jrjohansson/scientific-python-lectures](http://github.com/jrjohansson/scientific-python-lectures).

## IPython notebooks

This file - an IPython notebook -  does not follow the standard pattern with Python code in a text file. Instead, an IPython notebook is stored as a file in the [JSON](http://en.wikipedia.org/wiki/JSON) format. The advantage is that we can mix formatted text, Python code and code output. It requires the IPython notebook server to run it though, and therefore isn't a stand-alone Python program as described above. Other than that, there is no difference between the Python code that goes into a program file or an IPython notebook.

## Python as a powerful calculator

### Python prompt and Read-Eval-Print Loop (REPL)

Python is an *interpreted* language. We can collect sequences of commands into text files and save this to file as a *Python program*. It is convention that these files have the file extension “`.py`”, for example `hello.py`.

We can also enter individual commands at the Python prompt which are immediately evaluated and carried out by the Python interpreter. This is very useful for the programmer/learner to understand how to use certain commands (often before one puts these commands together in a longer Python program). Python’s role can be described as Reading the command, Evaluating it, Printing the evaluated value and repeating (Loop) the cycle – this is the origin of the REPL abbreviation.

Python comes with a basic terminal prompt; you may see examples from this with `>>>` marking the input:


    >>> 2 + 2
    4

We are using a more powerful REPL interface, the Jupyter Notebook. Blocks of code appear with an `In` prompt next to them:

In [1]:
4 + 5

9

To edit the code, click inside the code area. You should get a colored border around it. To run it, press Shift-Enter.

In [2]:
10 + 10000

10010

In [3]:
42 - 1.5

40.5

In [4]:
47 * 11

517

In [5]:
10 / 0.5

20.0

In [6]:
2**2   # Exponentiation ('to the power of') is **, NOT ^

4

In [7]:
2**3

8

In [8]:
2**4

16

In [9]:
2 + 2

4

In [10]:
# This is a comment
2 + 2

4

In [11]:
2 + 2  # and a comment on the same line as code

4

and, using the fact that $\sqrt[n]{x} = x^{1/n}$, we can compute the $\sqrt{3} = 1.732050\dots$ using `**`:

In [12]:
3**0.5

1.7320508075688772

Parenthesis can be used for grouping:

In [13]:
2 * 10 + 5

25

In [14]:
2 * (10 + 5)

30

## Variables and types

A *variable* can be used to store a certain value or object. In Python, all numbers (and everything else, including functions, modules and files) are objects. A variable is created through assignement:

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    False, None, True, and, as, assert, break, class, continue,
    def, del, elif, else, except, finally, for, from, global,
    if, import, in, is, lambda, nonlocal, not, or, pass, raise,
    return, try, while, with, yield

**Note:** *Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.*

### Assignments



The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assigning a value to a new variable creates the variable:

In [15]:
# variable assignments
x = 1.5

First, Python creates the object `1.5`. Everything in Python is an object, and so is the floating point number 1.5. This object is stored somewhere in memory. Next, Python *binds a name to the object*. The name is `x`, and we often refer casually to `x` as a variable, an object, or even the value 1.5. However, technically, `x` is a name that is bound to the object `1.5`. Another way to say this is that `x` is a reference to the object.

Once the variable `x` has been created through assignment of 0.5 in this example, we can make use of it:

In [16]:
x*3

4.5

In [17]:
x**2

2.25

## Impossible equations

In computer programs we often find statements like

In [18]:
x = x + 1

If we read this as an equation as we are use to from mathematics,
*x* = *x* + 1
 we could subtract *x* on both sides, to find that
0 = 1.
 We know this is not true, so something is wrong here.

The answer is that “equations“ in computer codes are not equations but *assignments*. They always have to be read in the following way two-step way:

1.  Evaluate the value on the right hand side of the equal sign

2.  Assign this value to the variable name shown on the left hand side. (In Python: bind the name on the left hand side to the object shown on the right hand side.)

Some computer science literature uses the following notation to express assignments and to avoid the confusion with mathematical equations:

$$x \leftarrow x + 1$$

Let’s apply our two-step rule to the assignment `x = x + 1` given above:

1.  Evaluate the value on the right hand side of the equal sign: for this we need to know what the current value of `x` is. Let’s assume `x` is currently `4`. In that case, the right hand side `x+1` evaluates to `5`.

2.  Assign this value (i.e. `5`) to the variable name shown on the left hand side `x`.

Let’s confirm with the Python prompt that this is the correct interpretation:

In [19]:
x = 4     
x = x + 1
x

5

In Python, multiple assignments can be made in a single statement. Either single value can be assigned to several variables simultaneously:

In [20]:
a = b = c = 0  # initialise a, b and c with 0

or multiple values could be assigned to multiple variables using unpacking:

In [21]:
a, b, c = 5, 3.2, 7

Although not explicitly specified, a variable does have a type associated with it. The type is derived from the value that was assigned to it.

In [22]:
type(x)

int

If we assign a new value to a variable, its type can change.

In [23]:
x = 1

In [24]:
type(x)

int

If we try to use a variable that has not yet been defined we get an `NameError`:

In [25]:
print(y)

NameError: name 'y' is not defined

### Fundamental types

In [26]:
# integers
x = 1
type(x)

int

In [27]:
# float
x = 1.0
type(x)

float

In [28]:
# boolean
b1 = True
b2 = False

type(b1)

bool

In [29]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
type(x)

complex

In [30]:
print(x)

(1-1j)

In [31]:
print(x.real, x.imag)

1.0 -1.0

### Type casting

In [32]:
x = 1.5

print(x, type(x))

1.5 <class 'float'>

In [33]:
x = int(x)

print(x, type(x))

1 <class 'int'>

In [34]:
z = complex(x)

print(z, type(z))

(1+0j) <class 'complex'>

In [35]:
a, b = 3+5j, complex(3, 5)
print(a, b)

(3+5j) (3+5j)

In [36]:
x = float(z)

TypeError: can't convert complex to float

Complex variables cannot be cast to floats or integers. We need to use `z.real` or `z.imag` to extract the part of the complex number we want:

In [37]:
print(z.real, type(z.real))
print(z.imag, type(z.imag))

1.0 <class 'float'>
0.0 <class 'float'>

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [38]:
1 + 2, 1 - 2, 1 * 2, 1 / 2

(3, -1, 2, 0.5)

In [39]:
1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0

(3.0, -1.0, 2.0, 0.5)

In [40]:
# Integer division of float numbers
3.0 // 2.0

1.0

In [41]:
# Note! The power operators in python isn't ^, but **
2 ** 3

8

**Note**: *The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).*

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [42]:
True and False

False

In [43]:
not False

True

In [44]:
True or False

True

<table>
<tr>
<td>
<table>
<tr>
<th>expression</th>
<th>result</th>
</tr>
<tr>
<td>true <code>and</code> true</td>
<td>true</td>
</tr>
<tr>
<td>true <code>and</code> false</td>
<td>false</td>
</tr>
<tr>
<td>false <code>and</code> true</td>
<td>false</td>
</tr>
<tr>
<td>false <code>and</code> false</td>
<td>false</td>
</tr>
</table>
</td>
<td>
<table>
<tr>
<th>expression</th>
<th>result</th>
</tr>
<tr>
<td><code>not</code> true</td>
<td>false</td>
</tr>
<tr>
<td><code>not</code> false</td>
<td>true</td>
</tr>
</table>
</td>
<td>
<table>
<tr>
<th>expression</th>
<th>result</th>
</tr>
<tr>
<td>true <code>or</code> true</td>
<td>true</td>
</tr>
<tr>
<td>true <code>or</code> false</td>
<td>true</td>
</tr>
<tr>
<td>false <code>or</code> true</td>
<td>true</td>
</tr>
<tr>
<td>false <code>or</code> false</td>
<td>false</td>
</tr>
</table>
</td>
</tr>
</table>

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [45]:
2 > 1, 2 < 1

(True, False)

In [46]:
2 > 2, 2 < 2

(False, False)

In [47]:
2 >= 2, 2 <= 2

(True, True)

In [48]:
# equality
[1,2] == [1,2]

True

In [49]:
# objects identical?
l1 = l2 = [1,2]

l1 is l2

True

<table><thead>
<tr>
<th style="text-align: center">Operator</th>
<th>What it means</th>
</tr>
</thead><tbody>
<tr>
<td style="text-align: center">==</td>
<td>Equal to</td>
</tr>
<tr>
<td style="text-align: center">!=</td>
<td>Not equal to</td>
</tr>
<tr>
<td style="text-align: center">&lt;</td>
<td>Less than</td>
</tr>
<tr>
<td style="text-align: center">&gt;</td>
<td>Greater than</td>
</tr>
<tr>
<td style="text-align: center">&lt;=</td>
<td>Less than or equal to</td>
</tr>
<tr>
<td style="text-align: center">&gt;=</td>
<td>Greater than or equal to</td>
</tr>
</tbody></table>

## Programming a mathematical formula

### A ball in vertical motion

Here is a formula for the position of a ball in vertical motion, starting at ground level (i.e. $y=0$) at time $t=0$:

$$ y(t) = v_0t- \frac{1}{2}gt^2 $$ where:

* $y$ is the height (position) as a function of time $t$
* $v_0$ is the initial velocity (at $t=0$)
* $g$ is the acceleration due to gravity

The computational task: Given $v_0$, $g$ and $t$, compute the value $y$.

**How do we program this task?** A program is a sequence of instructions given to the computer. However, while a programming language is much **simpler** than a natural language, it is more **pedantic**. Programs must have correct syntax, i.e., correct use of the computer language grammar rules, and no misprints.

So let's execute a Python statement based on this example. $y$ for $v_0=5$, $g=9.81$ and $t=0.6$. If you were doing this on paper you would probably write something like this:

$$ y = 5\cdot 0.6 - {1\over2}\cdot 9.81 \cdot 0.6^2.$$ Happily, writing this in Python is very similar:

In [ ]:
v0 = 5
g = 9.81
t = 0.6

y = 

print("The height of a ball after {} seconds is {} meters.".format(t, y))

### Compute the growth of money in a bank
Let *p* be a bank's interest rate in percent per year. An initial amount *A* has then grown to $$A\left(1+\frac{p}{100}\right)^n$$ after *n* years. Write a program for computing how much money 1000 euros have grown to after three years with a 5% interest rate.

In [ ]:
p = 5 # Interest rate in percent per year
A = 1000 # Initial amount of money in euros
n = 3 # Number of years since initial deposit

amount = 

print("The amount of money in the account after {} years is: {:.2f} euros".format(n, amount))

## Compound types: Strings, List and dictionaries

### Strings

Strings are the variable type that is used for storing text messages.

In [64]:
s = "Hello world"
type(s)

str

In [65]:
# length of the string: the number of characters
len(s)

11

In [66]:
# replace a substring in a string with something else
s2 = s.replace("world", "test")
print(s2)

Hello test

We can index a character in a string using `[]`:

In [67]:
s[0]

'H'

**Heads up MATLAB users:** Indexing start at 0!

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [68]:
s[0:5]

'Hello'

In [69]:
s[4:5]

'o'

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [70]:
s[:5]

'Hello'

In [71]:
s[6:]

'world'

In [72]:
s[:]

'Hello world'

We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above):

In [73]:
s[::1]

'Hello world'

In [74]:
s[::2]

'Hlowrd'

This technique is called *slicing*. Read more about the syntax here: https://docs.python.org/3/library/functions.html#slice

Python has a very rich set of functions for text processing. See for example https://docs.python.org/3/library/string.html for more information.

#### String formatting examples

In [75]:
print("str1", "str2", "str3")  # The print statement concatenates strings with a space

str1 str2 str3

In [76]:
print("str1", 1.0, False, -1j)  # The print statements converts all arguments to strings

str1 1.0 False (-0-1j)

In [77]:
print("str1" + "str2" + "str3") # strings added with + are concatenated without space

str1str2str3

In [78]:
print("value = %f" % 1.0)       # we can use C-style string formatting

value = 1.000000

In [79]:
# this formatting creates a string
s2 = "value1 = %.2f. value2 = %d" % (3.1415, 1.5)

print(s2)

value1 = 3.14. value2 = 1

In [80]:
# alternative, more intuitive way of formatting a string 
s3 = 'value1 = {0}, value2 = {1}'.format(3.1415, 1.5)

print(s3)

value1 = 3.1415, value2 = 1.5

Python3.6 introduced a new string formatting mechanism known as *Literal String Interpolation* or more commonly as *F-strings* (because of the leading f character preceding the string literal).

In [81]:
name = "Eric"
points = 74

print(f'Hello, {name}. You have {points} points from the last test.')

Hello, Eric. You have 74 points from the last test.

### List

Lists are very similar to strings, except that each element can be of any type. Lists play a very important role in Python. For example they are used in loops and other flow control structures (discussed below).

The syntax for creating lists in Python is `[...]`:

In [82]:
l = [1,2,3,4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

We can use the same slicing techniques to manipulate lists as we could use on strings:

In [83]:
print(l)
print(l[1:3])
print(l[::2])

[1, 2, 3, 4]
[2, 3]
[1, 3]

**Heads up MATLAB users:** Indexing starts at 0!

In [84]:
l[0]

1

Elements in a list do not all have to be of the same type:

In [85]:
l = [1, 'a', 1.0, 1-1j]

print(l)

[1, 'a', 1.0, (1-1j)]

Python lists can be inhomogeneous and arbitrarily nested:

In [86]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

[1, [2, [3, [4, [5]]]]]

Convert a string to a list by type casting

In [87]:
s

'Hello world'

In [88]:
s2 = list(s)

s2

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [89]:
# sorting lists
s2.sort()

print(s2)

[' ', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

#### Adding, inserting, modifying, and removing elements from lists

In [90]:
# create a new empty list
l = []

# add an elements using `append`
l.append("A")
l.append("d")
l.append("d")

print(l)

['A', 'd', 'd']

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [91]:
l[1] = "p"
l[2] = "p"

print(l)

['A', 'p', 'p']

In [92]:
l[1:3] = ["d", "d"]

print(l)

['A', 'd', 'd']

Insert an element at an specific index using `insert`

In [93]:
l.insert(0, "k")
l.insert(0, "c")
l.insert(0, "a")
l.insert(0, "B")

print(l)

['B', 'a', 'c', 'k', 'A', 'd', 'd']

Remove first element with specific value using 'remove'

In [94]:
l.remove("A")

print(l)

['B', 'a', 'c', 'k', 'd', 'd']

Remove an element at a specific location using `del`:

In [95]:
del l[5]
del l[4]

print(l)

['B', 'a', 'c', 'k']

See `help(list)` for more details, or read the online documentation

### Tuples

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*. 

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [96]:
point = (10, 20)

print(point, type(point))

(10, 20) <class 'tuple'>

In [97]:
point = 10, 20

print(point, type(point))

(10, 20) <class 'tuple'>

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [98]:
x, y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

If we try to assign a new value to an element in a tuple we get an error:

In [99]:
point[0] = 20

TypeError: 'tuple' object does not support item assignment

### Dictionaries

Dictionaries are also like lists, except that each element is a key-value pair. The syntax for dictionaries is `{key1 : value1, ...}`:

In [100]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [101]:
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [102]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

In [103]:
!python scripts/footnote.py

Running using Python 3.7.4 (default, Aug 13 2019, 20:35:49)
[GCC 7.3.0]
Testing Python version-> py3.7 OK
Testing numpy...      -> numpy OK
Testing scipy ...     -> scipy OK
Testing matplotlib... -> pylab OK
Could not import 'sympy' -> fail
-----------------------------
All the IPython Notebooks in this lecture series are available at:
https://github.com/ondrolexa/r-python